---
FormatStyle: file
HeaderFileExtensions: [ 'hpp' ]
ImplementationFileExtensions: [ 'cpp' ]
WarningsAsErrors: 'true'
Checks: '
,-*
,cert-*
,clang-analyzer-*
,concurrency-*
,bugprone-*
,-bugprone-argument-comment
,-bugprone-easily-swappable-parameters
,cppcoreguidelines-*
,-cppcoreguidelines-non-private-member-variables-in-classes
,google-readability-casting
,google-build-namespaces
,google-default-arguments
,google-build-explicit-make-pair
,google-global-names-in-headers
,google-runtime-int
,google-runtime-operator
,google-explicit-constructor
,google-build-using-namespace
,hicpp-multiway-paths-covered
,hicpp-exception-baseclass
,hicpp-signed-bitwise
,llvm-include-order
,llvm-namespace-comment
,misc-unconventional-assign-operator
,misc-misplaced-const
,misc-new-delete-overloads
,misc-non-copyable-objects
,misc-throw-by-value-catch-by-reference
,misc-uniqueptr-reset-release
,modernize-*
,-modernize-use-trailing-return-type
,-modernize-return-braced-init-list
,performance-*
,-performance-no-int-to-ptr
,readability-*
,-readability-identifier-length
,-readability-uppercase-literal-suffix
'
...
